* {
  box-sizing: border-box;
}

:host {
  display: block;
  max-width: 400px;
  margin: 2em auto;
}

input[type=text] {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  border: 1px solid #ccc;
}

.todo {
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  background-color: white;
}

label {
  padding: 0 0.5em;
}

input:checked ~ label {
  text-decoration: line-through;
  color: #aaa;
}

.btn-delete {
  float: right;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 2px;
  cursor: pointer;
}
